<form method="post" action="{{ path('app_member_delete', {'id': member.id}) }}" onsubmit="return confirm('削除してよろしいですか？');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-outline-danger btn-sm">削除</button>
</form>
