<footer class="app-footer bg-light border-top small">
    <div class="container py-2 text-start">
        <a href="https://github.com/nakamura-akifumi/kassis" target="_blank" rel="noopener noreferrer">
            kassis
        </a>
        <br>
        <a href="https://github.com/nakamura-akifumi" target="_blank" rel="noopener noreferrer">
            Developed By Akifumi NAKAMURA
        </a>
    </div>
</footer>
